/code_data_and_results/rerun_original/Data/glove.6B
/code_data_and_results/rerun_original/.RData
/code_data_and_results/rerun_original/.Rhistory
/code_data_and_results/rerun_original/Py3_AnalysisScript_AutomaticThoughtRecordLabeling.ipynb
/code_data_and_results/rerun_original/R_Script_integrated_in_paper.Rnw
/code_data_and_results/rerun_original/Data/DatasetsForH1_OutOfBox/.DS_Store
